*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    vertical-align: middle;
}

main{
    display: flex;
    background-color: aqua;
    height: 100vh;

}
.wrapper{
    margin: auto;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 0, 0.838);
    width: 50rem;
    min-height: 40rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.478);
    border-radius: 2rem;
    padding: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
}
input{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}
.filter-container{
    gap: 0.5rem;
}
.search-input-container{
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.search-input-container button{
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
label{
    font-size: 1.3rem;
}
label.filter{
    padding: 3rem;
}
.result-container{
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}
@media (max-width:500px){
    :root{
        font-size: 10px;
    }
}